<!--

ASK
dose_path refers to the cocktail
but dose alone refers to the correct id for deletion.
livecode example broke after a few adds

 -->


<div class="container">
  <div class="show-cocktail">
    <!-- <div class="inner-show"> -->
      <!-- <div class="row"> -->
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <!-- FORM -->
        <div class="col-xs-12 col-md-5 inner-show col-centered">
          <h4>New Dose</h4>
          <%= render 'doses/form' %>
        </div>

        <!-- DETAILS -->
        <div class="col-xs-12 col-md-7 inner-show">
        <div>
          <div class="cocktail-header">
            <h2><%= @cocktail.name %></h2>
            <% if @cocktail.photo? %>

              <%= cl_image_tag @cocktail.photo, :width=>300, :height=>300, :gravity=>"east", :crop=>"fill" %>
            <% end %>
            <!-- <ul> -->
            <div class="dose">
              <% @cocktail.doses.each do |dose| %>
                <!-- <li> -->
                  <p>
                    <span class="dose-desc float-left">
                      <%= dose.description %>
                      <%= dose.ingredient.name %>
                    </span>
                    <span class="dose-del float-right">
                      <%= link_to 'Delete', dose, method: :delete %>
                    </span>
                  </p>
                <!-- </li> -->
              <% end %>
            </div>
            <!-- </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
