<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="wrapper">
        <div class="inner-wrapper">
          <h2><%= @cocktail.name %></h2>
          <% if !@cocktail.doses.empty? %>
            <ul>
            <% @cocktail.doses.each do |recipe| %>
              <li>
                <%= recipe.description %>
                <%= recipe.ingredient.name %>
                -
                <%= link_to 'Delete', cocktail_dose_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' } %>

              </li>
            <% end %>

            </ul>
          <% end %>
          <h3>New Dose</h3>
          <%= render 'doses/form' %>
          <br>
        </div>
        </div>
    </div>
  </div>
</div>

